html {
   background-color: #F8F8F2;
 }
 body {
   width: 1290px;
   /*margin: 100px auto 0px auto; */
   margin: 10px auto;
   /*background-color: #111111;*/
   background-image: url(../img/fondo.jpg);
 }
 .lista {
   text-align: center;
   color: #FFFFFF;
   font-size: 20px;
 }
 .resenia{
   color: #ffffff;
   font-size: 16px;
   font-weight: bold;
   padding-left: 2%;
   padding-right: 2%;
   text-align: center;
    }
 h1{
   text-decoration-color: #ffffff;
   color:#ffffff;
   text-orientation: unset;
   text-align: center;
 }
 h2{
   color:#ffffff;
   text-align: center;
 }
 p{
    text-align: center;
 }
 div{
   text-align: center;
 }
 .primerletra{
   font-size: 25px;
   font-weight: 10px;
 }
 .verso{
   font-size: 15px;
   font-style: oblique;
 }

 li{
  color: yellow; 
  font-weight: bold;
}
 ol{
  color: #00ffaa;
  font-weight: initial;
 }
 .opinion{
  padding-left: 20%;
  padding-right: 20%;
  color: white;
 }
 #comentarios{
   background-image: url(../img/comentarios.jpg);
 }